.card{
    background: #fff;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    max-width: 100%;
    min-height: 171px;
    padding: 8px 10px;
    flex: 1 0 auto;
    image-rendering: -webkit-optimize-contrast;
    /*это чтобы изображение не портилось при уменьшее экрана*/
    border-radius: 8px;
    @media only screen and (max-width: 320px) {
        padding: 0;
    }
}

/*.card__text{*/
/*    padding: 0px 13px;*/
/*    width: 100%;*/
/*}*/

.price {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    display: flex;
    width: 100%;
}

.name {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
}

.card__button{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    background: #037EE5;
    width: 100%;
    padding: 5px;
    color: #fff;
    font-weight: 500;
}

.card__button > span{
    font-weight: 300;
}
.blockMainText {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.bottomCard {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.desc {
    font-size: 10px;
    font-weight: 300;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
