.App{
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 8px;
    background-color: #F7F7F7;
    position: relative;
}

.home{
    position: relative
}

.home__header{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.home__filter{
    border-radius: 5px;
    background-color: #fff;
    padding: 0px 4px;
}

/*---- Категории ----*/

.wrapperCategories {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_categories{
    background-color: #fff;
    padding: 11px 16px;
    margin-top: 15px;
    border-radius: 8px;

}

.home_categories__text h4{
    font-weight: 600;
    font-size: 12px;
}

.home_categories__text p{
    font-weight: 300;
    color: #787878;
    font-size: clamp(10px, 10px, 16px);
}

/*---- Cards ----*/

.wrapperButton {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.wrapperFixedButton {
    position: fixed;
    bottom: 5px;
    width: 94%;
}
















