.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.firstTitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.secondTitle {
    font-size: 12px;
    line-height: 16px;
}

