.bin{
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bin__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bin_back{
    display: flex;
    gap: 12px;
    align-items: center;
}

.bin_back > h4{
    font-size: 18px;
    font-weight: 600;
}

.bin__list{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bin_item{
    padding: 16px;
    border-radius: 15px;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
}

.bin_item__left {
    display: flex;
    align-items: center;
}

.bin_item__left > img{
    width: 85px;
    height: 85px;
}

.bin__text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bin__text > p{
    font-size: 10px;
    font-weight: 300;
    line-height: 16px;
}

.bin_item > h4{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.sumPrice {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ABABAB;
}

.title {
    font-weight: 300;
    font-size: 10px;
    line-height: 16px;
}

.numberPrice {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.noOrders {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 20px;
}
.noOrders > img {
    width: 56px;
    height: 56px;
}

.noOrders > span {
    font-size: 16px;
    line-height: 19px;
}